name: first workflow
on:
  push:
    branches: [ master ]
jobs:
  hello:
    runs-on: ubuntu-latest

    steps:
      - name: greeting
        run: echo "Hello, Github Actions!"

      - name: now time
        run: date
